.header {
  color: white;
  padding: 1rem;
  text-align: center;

  border-bottom: 1px solid #dddddd;
  margin-bottom: 64px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
